:root {
  --main-bg-color: #33adf1;
  --main-text-color: #FFFFFF;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
        "header header"
        "blockly code";
}

#header {
  border-bottom: 1px solid #FFFFFF;
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  grid-area: header;
}

#header #title {
  margin-left: 1rem;
}

#blocklyArea {
  width: 100%;
  height: 100%;
  color: black;
}
#blocklyDiv {
  position: absolute;
}